.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  list-style: none;
}


.board-row {
  clear: both;
  content: "";
  display: table;
  padding-left: 0pt;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.python-console {
  width: 600px;
  height: 200px;
  background: #fff;
  color: #000000;
  white-space: pre-line;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;

}

.training-square  {
  padding: 5px;
  font-size: 10px;
  
}

.training-board {
  align-items: left;
  padding-left: 0px;
  padding-bottom: 10px;
}

.training-boards {
  width: 200px;
  height: 200px;
  white-space: pre-line;
  overflow-x: hidden;
  overflow-y: auto;
}

.params-table {
  /*border-collapse:collapse;
  border: 1px solid #ffffff;
*/
}
